.Maincast4{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content !important;
    /* padding: 20px !important; */

    /* padding: 0px 20px 0px 20px; */
    /* border: 1px solid black; */
    /* gap: var( --gap-little); */
    padding: 20px;
    gap: 20px;
    /* background-color: pink; */
    background-color: rgb(255, 0, 0)
}
.textCastmain4{
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
      padding:  0px 20px 0px 20px;
    /* padding: var(--paddingdvojka); */
    align-items: center;
    background-color: var(--farba-biela)
}
.textpodhlavnuym4{
       font-family: var( --font-family);
    font-size: var(   --font-size-small);
    font-weight: var(  --font-Hrubka-stred2)!important;
    color: var(--farba-sivaText);
    transition: var(  --transition);
}
.swipereceobal2{
    padding:  0px 20px 0px 20px;
    /* background-color: rgb(0, 0, 0); */
}
/* .slidecelok{
    background-color: black;
    display: flex;
    
} */
 .pohybac4{
    position: relative;
    display: flex;
    gap: 20px;
    height: 55px;
    /* background-color: rgb(255, 0, 0); */
    width: fit-content
 }
 .TEXTICEKNEAOVICEK4{
    font-family: var( --font-family);
    font-size: var( --font-size-large);
    
  
  color: var(--farba-cierna);
    transition: var(  --transition);
 }
 .TEXTICEKNEAOVICEK:hover{
    cursor: pointer;
    
 }


  @media (max-width: 750px) {
.Maincast4{
gap: 10px;
padding: 0px !important;
 
}
.textCastmain4{
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
      padding:  0px 20px 0px 10px;
    /* padding: var(--paddingdvojka); */
    align-items: center;
    background-color: var(--farba-biela)
}
}
 @media (max-width: 450px) {
.pohybac{
    display: none;
}
/* .textpodhlavnuym{
    display: none;
} */
}
