.raazanavzdy{
    height: fit-content;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    /* background-color: aqua; */
    align-items: center;
}
.celkottt{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    flex-direction: column;
}
.nazovtext{
    color: var(--farba-cierna);
    font-size: var(  --font-size-xl);
}
.otototojeona {
  display: flex;
  align-items: center;
  justify-content: center;
     flex-direction: column;
     gap: 5px;
  font-size: var( --font-size-base69);
  color: var(--farba-sivaText);
  white-space: nowrap;
 /* background-color: rgb(27, 27, 27); */
}

.kokoitnana{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* background-color: aqua; */
}
.obalnadalsieinfo{
    width: 100%;
    height: 100%;
    background-color: blue;
}
/* @media (max-width: 510px) {
.oblicekost{
   display: none;
}
.kokoitnana{
    display: block;
}
} */


.tabulececeko25{
    width:fit-content;
    display: flex;
    /* padding: 0px 50px; */
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    /* padding: 20px 0px; */
    height: 100%;
    padding: 12px 10px;
/* border: 1px solid black; */
    /* background-color: rgb(219, 45, 45); */
    /* background-color: rgb(17, 17, 17); */
}
.obalicekke{
    width: fit-content;
    
    display: flex;
    height: fit-content;
    
    /* background-color: rgb(255, 146, 4); */
}
@media (max-width: 420px) {
.koakuraio{
    display: none;
}
.kokoitnana{
     justify-content: center;
}
}
