.poslednyowerlap{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 90000;
display: flex;
padding: 10px;

align-items: center;
justify-content: center;
    inset: 0;
    opacity: 1;

  backdrop-filter: blur(10px);
  /* background-color: red; */
  background-color: var(--farba-bielaEfekty);
}

.okonotusadejemagia{
  width: 100%;
  height: 100%;
  border: var(--border);
  border-radius:18px;
  display: flex;
  position: relative;
  padding: 20px;
  background-color: var(--farba-biela);
}