.drziakokmoi{
    /* background-color: pink; */
    gap: 5px;
    flex-direction: column;
    display: flex;
    width: 100%;
}
.inputkodoleleni {
    height: 40px;
    border: none;    
    padding: 10px;
    border: var( --border);
    border-radius: 12px;
    color: var(--farba-cierna);
    background-color: var(--farba-biela);     /* odstráni štandardný border */
    outline: none;        /* odstráni modrý alebo iný outline pri focus */
}

/* voliteľne, aby sa border nezobrazil ani pri kliknutí */
.inputkodoleleni:focus {
    border: none;
    outline: none;
    box-shadow: none;    /* ak mal nejaký shadow pri focus */
}
.hviezdicakk{
    color: var(--farba-main);
    position: absolute;
    top: 0px;
    right: -8px;
}